body{
	background-image: url(../images/back.png);

}

h1{
	font-size: 35px;
	font-weight: bold;
}


header{
	text-align: center;
	background-color: #ffa500;
	width: 400px;
	height: 45px;
	margin: 10px auto 10px auto;
	padding: 10px;
	border-radius: 25px;
}



#main{
	border-radius: 25px;
	line-height: 28px;
	font-size: 18px;
	text-align: center;
	background-color: #008cff;
	width: 500px;
	height: px;
	margin:auto;
	margin-bottom: 10px;
	padding: 10px;

}

.match{
	font-size: 20px;
	text-decoration: underline;
}
#randomNumDiv{
	border-radius: 25px;
	font-size: 18px;
	text-align: center;
	background-color: #ffa500;
	width: 250px;
	height:50px;
	margin:auto;
	padding: 10px;
	

}
/*styling for wins and losses*/
#status{
	vertical-align: middle;
	font-size: 18px;
	text-align: center;
	background-color: #008cff;
	width: 250px;
	height:50px;
	margin:auto;
	padding: 10px;
	border-radius: 25px;


}


/*styling for div above score*/
#one{
	text-decoration: underline;
	line-height: 30px;
	font-size: 22px;
	text-align: center;
	background-color: #ffa500;
	width: 400px;
	height: 22px;
	margin:auto;
	margin-top: 10px;
	padding: 10px;
	border-radius: 25px;

	
}

#score{
	line-height: 30px;
	font-size: 22px;
	text-align: center;
	background-color: #008cff;
	width: 400px;
	height: px;
	margin:auto;
	margin-top: 10px;
	padding: 10px;
	border-radius: 25px;


}

/*button and button div styling*/
img{
	height: 64px;
	width: 64px;
	margin-right: 20px,
	margin-left: 20px;
	margin-top: 10px;

}

button{
	margin-left: 35px;
	border-radius: 12px;
}

button:hover{
	background-color: #ccf5ff;
	
}

#crystals{
	background-color: #808080;
	width: 500px;
	height: 80px;
	margin:auto;	
	margin-top: 10px;
	padding: 10px;
	border-radius: 25px;
}	
	










